<app-ladder-modal #content (refreshRequired)="refresh()"  (newPictureEmit)="pictureChanged($event)" (newUsernameEmit)="usernameChanged($event)"></app-ladder-modal>
<div class="container">
    <div class="row-padding">
        <h1>Your Account</h1>
        <div class="row">
            <div class="col-max">
                <ngx-avatar class='avatar' size="100" name={{mainUserService.user.GetFullName()}} src={{picture}}></ngx-avatar>
            </div>
            <div class="col">
                <div class="wrapper">
                    <span class="bookTitle">
                        {{mainUserService.user.GetFullName()}}<br/>
                        <h3>{{username}}</h3>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button (click)="actionUsername()" mat-flat-button class="button-padding" color="primary">Change Username</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button (click)="actionPicture()" mat-flat-button class="button-padding" color="primary">Change Profile Image</button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                <button (click)="saveChanges()" mat-flat-button class="button-padding" color="primary">Save Changes</button>
                <button mat-flat-button class="button-padding" color="warn">Delete Account</button>
            </div>
        </div>
    </div>
</div>