
 <div class="container">
    <div class="row-padding">
        <h1>Create Ladder</h1>
        <form class="example-form">
            <div class="row">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ladder Name</mat-label>
                    <input matInput placeholder="" value="">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ladder Description</mat-label>
                    <input matInput placeholder="" value="">
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Jump</mat-label>
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-icon aria-hidden="false" matTooltip="The amount of positions a user is able to progress up the ladder in one go">info</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Permissions</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let permission of permissions" [value]="permission">
                            {{permission}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                </div>
                <div class="col">
                    <mat-icon aria-hidden="false" matTooltip="Control who is able to join your ladder">info</mat-icon>
                </div>
            </div> 
            <div class="row">
                <div class="col">
                    <mat-checkbox color="primary">Include Yourself</mat-checkbox>
                </div>
                <div class="col">
                    <mat-icon aria-hidden="false" matTooltip="Tick if you want to participate in the ladder as well as be an admin">info</mat-icon>
                </div>
            </div>
            <div class="row-padding">
                <button mat-flat-button color="primary">Create Ladder</button>
            </div>
        </form>
    </div>
</div>
