<div class="container" >
    <div class="row-padding">
        <div class="row" *ngIf="currentChallengeService.challenge">
            <div class="row">
                <h1>Challenge with {{currentChallengeService.challenge.otherUser.GetFullName() | titlecase}}</h1>
            </div>
            <div class="row">
                <h2>{{currentChallengeService.challenge.ladderName | titlecase}}</h2>
            </div>
        </div>
        <div class="row">
            <ng-template #dynamicAction></ng-template>
        </div>
    </div>
</div>